<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Its ya boi!" src="..\assets\me.jpg">
</div>
<h2>Greetings, and welcome to my page</h2>
<p>! I have been playing Blizzard developed games since the original Diablo. I currently play World of Warcraft, Diablo
  1, Diablo 2, and Diablo 3. I currently work as a developer and am creating this page to become familiar with the
  Battle.Net API, Angular, and some of the other tools that my industry uses across projects.</p>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/tomas.eaton.5">Facebook</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com">Youtube</a></h2>
  </li>
</ul>